<!DOCTYPE html>
<html>
  <head>
    <title>Games list</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>Games list</h1>
    <ul>
    <% for ( var game in gameList ) { %>
      <li><a href="//<%= domain %>:<%= gameList[game].port %>/"><%= game %></a></li>
    <% } %>
    </ul>
  </body>
</html>
