body {
  background: #333;
  color: #FFF;
  margin: 0;
  padding: 0;
  font: 3vw sans-serif;
  height: 100%;
}

h1 {
  position: absolute;
  top: 50%;
  line-height: 1px;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 15vw;
  color: #555;
}

#messageBox {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  text-align: center;
}

#messageBox p {
  color: #FFF;
  margin: 0;
  opacity: 0;
  transition: 10s;
}
#messageBox p.show {
  opacity: 1;
  transition: 0s;
}

#game {
  position: relative;
  height: calc(100% - 6vh);
  border: 3vh solid #FFF;
  border-left: none;
  border-right: none;
  overflow: hidden;
}

#pad1, #pad2 {
  position: absolute;
  top: 50%;
  margin-top: -3%;
  height: 10%;
  width: 2%;
  background: #FFF;
}

#pad1 {
  left: 0%;
}

#pad2 {
  left: 98%;
}

#ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3vw;
  height: 3vw;
  margin: -3vw 0 0 -3vw;
  border-radius: 2vw;
  background: #FFF;
}

#dialog {
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 5px solid #DDD;
  background: #BBB;
  font-size: 14px;
  color: #333;
}

#dialogTitle {
  font-size: 20px;
  line-height: 30px;
  color: #EEE;
  background: #888;
  text-align: center;
  margin: -20px -20px 20px -20px;
  border-bottom: 2px solid #DDD;
}

#dialogBtClose {
  cursor: pointer;
  display: block;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid #DDD;
  background: #888;
  color: #EEE;
  position: absolute;
  right: -15px;
  top: -10px;
}

#dialogContent {
}

#dialogBtFunc {
  cursor: pointer;
  border: 2px solid #DDD;
  background: #888;
  color: #EEE;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}
